<!-- <section> 
    <h2 class="font-bold text-base text-center">Education</h2>
    <ul>
        <li class="flex justify-between mb-4">
            <section class="text-xs">
                <h3 class="font-bold">ICCT COLLEGES FOUNDATION INC.</h3>
                <p>Bachelor of Science in Computer Science</p>
            </section>
            <section class="flex flex-col items-end justify-between text-xs">
                <p>Cainta, Rizal</p>
                <p>Expected Graduation : April 2026</p>
            </section>
        </li>

        <li class="flex justify-between mb-4">
            <section class="text-xs w-[70%]">
                <h3 class="font-bold">MINDTECH TRAINING AND DEVELOPMENT INSTITUTE INC. | TESDA</h3>
                <p>Computer System Servicing - NC II (Certificate of Training + NC II) | 47 days</p>
            </section>
            
            <section class="flex flex-col items-end justify-between text-xs">
                <p>Kapitolyo, Pasig City</p>
                <p>October - December 2024</p>
            </section>
        </li>

        <li class="flex justify-between mb-4">
            <section class="text-xs w-[70%]">
                <h3 class="font-bold">SOUTHERN LUZON TECHNOLOGICAL COLLEGE FOUNDATION, INC. | TESDA</h3>
                <p>Java Programming - NC III (Certificate of Training) | 35 days</p>
            </section>
            <section class="flex flex-col items-end justify-between text-xs">
                <p>Kapitolyo, Pasig City</p>
                <p>August - October 2023</p>
            </section>
        </li>

        <li class="flex justify-between mb-4">
            <section class="text-xs">
                <h3 class="font-bold">AMA COMPUTER COLLEGE LA UNION</h3>
                <p>ICT Programming - SHS</p>
            </section>
            <section class="flex flex-col items-end justify-between text-xs">
                <p>San Fernando, La Union</p>
                <p>April 2021</p>
            </section>
        </li>
    </ul>
</section> -->


<section> 
    <h2 class="font-bold text-base text-center">Education</h2>
    <ul>
        
        <li class="flex justify-between mb-4">
            <section class="text-xs w-[70%]">
                <h3 class="font-bold">Secondary:</h3>
                <p>Luis Y Ferrer North National High School</p>
            </section>
            <section class="flex flex-col items-end justify-between text-xs">
                <p>General Trias, Cavite</p>
                <p>2020</p>
            </section>
        </li>

        <li class="flex justify-between mb-4">
            <section class="text-xs">
                <h3 class="font-bold">Primary:</h3>
                <p>Mary Cris Elementary School</p>
            </section>
            <section class="flex flex-col items-end justify-between text-xs">
                <p>General Trias, Cavite</p>
                <p>2016</p>
            </section>
        </li>
    </ul>
</section>