<section>
    <h1 class="text-center font-bold text-xl my-2">Jon Arbell De Ocampo</h1>
</section>

<hr class="bg-black h-[3px] mb-2 border-0"/>

<section class="mb-4">
    <ul class="flex items-center justify-evenly text-xs">
        <li>• West Rembo, Taguig City</li>
        <li>• <a href="mailto:deocampo.arbelldonor@gmail.com">{{'deocampo.arbelldonor@gmail.com'}}</a></li>
        <li>• 0977-446-9490</li>
        <li>• <a href="github.com/JonArbell">github.com/JonArbell</a></li>
    </ul>
</section>

