<section>
    <h1 class="text-center font-bold text-xl my-2 w-full">Jon Arbell De Ocampo</h1>

</section>
<!-- 
<section class="flex items-center justify-between p-4">
    <h1 class="text-center font-bold text-xl my-2 w-full">Christian Igpit Lumapas</h1>

    <div class="border-2 h-20 w-[90px] border-black flex items-center justify-center">
        <p>2x2 pic</p>
    </div>

</section> -->

<hr class="bg-black h-[3px] mb-2 border-0"/>

<section class="mb-4">
    <ul class="flex items-center justify-evenly text-xs">
        <li>• West Rembo, Taguig City</li>
        <li>• <a href="mailto:deocampo.arbelldonor@gmail.com">{{'deocampo.arbelldonor@gmail.com'}}</a></li>
        <li>• 0977-446-9490</li>
        <li>• <a href="github.com/JonArbell">github.com/JonArbell</a></li>
    </ul>
</section>

<!-- <section> 
    <h2 class="font-bold text-base text-center">Personal Information</h2>
    <ul>
        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Age :</h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>22</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Birthday : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>March 13, 2003</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Mother's Maiden Name : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Emilia Igpit</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Father's Name : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Edwin Lumapas</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Religion : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Roman Catholic</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Civil Status : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Single</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Citizenship : </h3>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Filipino</p>
                </section>
            </section>

        </li>
    </ul>
</section>

<hr class="bg-black h-[3px] mb-2 border-0"/> -->