<section> 
    <h2 class="font-bold text-base text-center">Experience</h2>
    <ul>
        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Facilities Managers Inc.</h3>
                    <p>Data Encoder</p>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Edsa Guadalupe, Makati City</p>
                    <p>February 2024 - July 2024</p>
                </section>
            </section>

            <ul class="list-disc pl-5 mb-4">
                <li>
                    <p class="text-xs">Accurately input data into Excel spreadsheets and verify accuracy.</p>
                </li>
                
                <li>
                    <p class="text-xs">Scan documents and encode data into the company's software application.</p>
                </li>

                <li>
                    <p class="text-xs">Upload completed and verified data to the company's designated website.</p>
                </li>

                <li>
                    <p class="text-xs">Ensured data integrity and maintained confidentiality of sensitive information.</p>
                </li>
            </ul>
        </li>

        <!-- <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Cliffhanger & Investigation Agency</h3>
                    <p>Security Guard Personel</p>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Quezon City</p>
                    <p>2024 - 2025</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Blue Zone Ice Trading</h3>
                    <p>Bagger</p>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Imus City, Cavite</p>
                    <p>2021 - 2024</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Unli Wings Goodlife</h3>
                    <p>Service Crew</p>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Dasmarinas, Cavite</p>
                    <p>2020 - 2021</p>
                </section>
            </section>

        </li>

        <li>
            <section class="flex justify-between mb-4">
                <section class="text-xs">
                    <h3 class="font-bold">Tsuchiya Carwash</h3>
                    <p>Car Washer</p>
                </section>
                <section class="flex flex-col items-end justify-between text-xs">
                    <p>Imus City, Cavite</p>
                    <p>2017 - 2020</p>
                </section>
            </section>

        </li> -->
    </ul>
</section>