<section> 
    <h2 class="font-bold text-base text-center">Projects</h2>
    <ul>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset" href="https://github.com/JonArbell/phish-alert-backend"> 
                    <h3 class="font-bold">Thesis Project (In Progress): PhishAlert - AI-Enhanced URL Protection (Gmail Extension)</h3>
                </a>
                <p>PhishAlert is a browser extension for Gmail that helps users detect phishing links. It analyzes email URLs and provides safety alerts when suspicious links are detected, enhancing email security and preventing phishing attacks.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset" href="https://github.com/JonArbell/PEA-TODO-LIST-APPLICATION-BACKEND"> 
                    <h3 class="font-bold">PEA TO-DO LIST APPLICATION</h3>
                </a>
                <p>My first web application originally built using Spring Boot, PostgreSQL, and Thymeleaf with features like authentication, to-do management, and JWT security. Currently undergoing a full revision to improve architecture, performance, and maintainability.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset" href="https://deocampo-jon-arbell-d.netlify.app/">
                    <h3 class="font-bold">My Portfolio</h3>
                </a>
                <p>Portfolio Website - A full-stack portfolio built with Angular (frontend) and Spring Boot (backend). Features a responsive UI, project showcase, and a contact form with email functionality using Spring Boot. Deployed on netlify for frontend & Render for backend.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset" href="https://jonarbell.github.io/Tic-tac-toe/">
                    <h3 class="font-bold">Tic-tac-toe</h3>
                </a>
                <p>A simple Tic Tac Toe game developed using HTML, CSS, and JavaScript. The primary goal of this project is to enhance my JavaScript DOM manipulation skills.</p>
            </section>
        </li>

    </ul>
</section>
