<section> 
    <h2 class="font-bold text-base text-center">Projects</h2>
    <ul>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset-[2.3px] font-bold" href="https://github.com/JonArbell/phish-alert-backend font-bold"> 
                    Thesis Project (In Progress): PhishAlert - AI-Enhanced URL Protection (Gmail Extension)
                </a>
                <p>PhishAlert is a browser extension for Gmail that detects phishing links in emails. It uses a Spring Boot backend to communicate between the frontend and analysis tools. URLs are analyzed using OpenAI for intelligent detection and the Google Safe Browsing API for threat checks. PhishAlert provides users with safety alerts, helping to prevent phishing attacks and protect sensitive information.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset-[2.3px] font-bold" href="https://deocampo-jon-arbell-d.netlify.app/">
                    My Portfolio
                </a>
                <p>Portfolio Website - A full-stack portfolio built with Angular (frontend) and Spring Boot (backend). Features a responsive UI, project showcase, and a contact form with email functionality using Spring Boot. Deployed on netlify for frontend & Render for backend.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset-[2.3px] font-bold" href="https://github.com/JonArbell/PEA-TODO-LIST-APPLICATION-BACKEND"> 
                    PEA To-Do List Application
                </a>
                <p>My first web application originally built using Spring Boot, PostgreSQL, and Thymeleaf with features like authentication, to-do management, and JWT security. Currently undergoing a full revision to improve architecture, performance, and maintainability.</p>
            </section>
        </li>

        <li>
            <section class="text-xs mb-4">
                <a class="underline underline-offset-[2.3px] font-bold" href="https://jonarbell.github.io/Tic-tac-toe/">
                    Tic-tac-toe
                </a>
                <p>A simple Tic Tac Toe game developed using HTML, CSS, and JavaScript. The primary goal of this project is to enhance my JavaScript DOM manipulation skills.</p>
            </section>
        </li>

    </ul>
</section>
