<section class="text-xs">
    <h2 class="font-bold text-base text-center">Skills</h2>
    <ul>
        <li><strong>Backend Development:</strong> Java, Spring Boot (Core, Spring Data JPA, REST API, Spring MVC), Spring Security</li>
        <!-- <li><strong>Backend Development:</strong> Java, Spring Boot (Core, Spring Data JPA, REST API), Spring Security, JWT</li> -->
        <li><strong>Frontend Development:</strong> Angular, Tailwind CSS, JavaScript, TypeScript</li>
        <!-- <li><strong>Frontend Development:</strong> HTML, Angular, Tailwind CSS</li> -->
        <li><strong>Build Tools:</strong> Maven</li>
        <li><strong>Version Control:</strong> GitHub</li>
        <li><strong>Database Management System:</strong> PostgreSQL</li>
        <li><strong>Containerization:</strong> Docker (Basic usage for deployment)</li>
    </ul>
</section>
