<section class="mb-4">
    <h2 class="font-bold text-base text-center">Objective</h2>
    <!--
      for applying graduate
     -->
    <!-- <p class="text-xs">Enthusiastic Computer Science graduate with a solid foundation in software development, specializing in <strong>Java Spring Boot</strong> and frontend technologies. Seeking an entry-level software development position to contribute to innovative projects and further develop my skills in building secure and efficient applications.</p> -->
     
    <!--for thesis-->
    <!-- <p class="text-xs">
      Enthusiastic 3rd-year Computer Science student with a solid foundation in software development, specializing in Java Spring Boot. Seeking to apply my technical expertise and problem-solving skills to a challenging thesis project, while further enhancing my knowledge in building secure, efficient backend applications and collaborating with a dynamic team.
   </p> -->


     <!--
      for applying undergraduate
     -->
   <p class="text-xs">
      Enthusiastic Computer Science undergraduate with a solid foundation in software development, specializing in Java Spring Boot. Seeking an entry-level software development position to contribute to innovative projects and further develop my skills in building secure, efficient backend applications.
   </p>
</section>
