<section class="mb-4">
    <h2 class="font-bold text-base text-center">Objective</h2>
    <!-- <p class="text-xs">Enthusiastic Computer Science graduate with a solid foundation in software development, specializing in <strong>Java Spring Boot</strong> and frontend technologies. Seeking an entry-level software development position to contribute to innovative projects and further develop my skills in building secure and efficient applications.</p> -->
     <p class="text-xs">
        Enthusiastic Computer Science undergraduate with a solid foundation in software development, specializing in Java Spring Boot. Seeking an entry-level software development position to contribute to innovative projects and further develop my skills in building secure, efficient backend applications.
     </p>
</section>
