/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
    font-family: 'Rockwell';
    src: url('/fonts/ROCK.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*   
*{
    font-family: 'Rockwell', sans-serif;
} */

* {
    font-family: 'Roboto', sans-serif;
}
